@model IEnumerable<Teacher.Models.ATeacher>
    
<a style="margin-bottom:10px;" href="/TeacherPage/New">Add Teacher</a>

<form method="GET" action="/TeacherPage/List">
    <div>
        <input type="text" name="SearchKey" id="userInput" placeholder="YYYY" />
        <input type="submit" value="Search" id="searchBtn"/>
    </div>

   @*  <script>

        let form = document.getElementById("userInput");
        let btn = document.getElementById("searchBtn");
        btn.addEventListener("click", function (event) {

            let inputValue = form.value.trim();
            console.log(inputValue);

            let year = parseInt(inputValue, 10);

            if (Number.isInteger(year) && inputValue === year.toString()) {
                console.log(year);

                if (year < 2012 || year > 2016) {
                    alert("no teacher found");
                }
            } else {
                alert("invalid number")
            }
        
        }
        )

    </script> *@
</form>

<h2>Teacher List:</h2>
@foreach (Teacher.Models.ATeacher Teacher in Model)
{
    <div>
        <a href="/TeacherPage/Show/@Teacher.TeacherId">@Teacher.TeacherFirstName @Teacher.TeacherLastName</a>
    </div>
}


